[submodule "external/binance-cxx-api"]
	path = external/binance-cxx-api
	url = https://github.com/dmikushin/binance-cxx-api.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
